<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Om os</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
    <div class="menu-bar">
        <ul>
            <li><a href="/">Forside</a></li>
            <li><a href="{{ url_for('products') }}">Produkter</a></li>
            <li><a href="#">Om os</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </div>
    <div>
        <h1 class="title">HobbyBoksen</h1>
        <p class="abt">Et stigende altal unge har svært ved at finde en hobby de kan lide, hvilket føre til flere negative konsekvenser. Derfor er HobbyBoksen
        til for at hjælpe primært unge til at finde en hobby de kan lide. Det gør vi ved at have 2 typer produkter. Det ene er en abbonementkasse, man får leveret leveret en gang om måneden, hvor man får en boks med alt man skal bruge for at starte en ny hobby. Dette fører til den anden type produkt, som er for dem der igennem vores kasser har fået en ny hobby der gerne vil fortsætte. Disse produkter er en nem løsning for dem der gerne vil købe alt de har brug for til en bestemt hobby i en nem boks.</p>
    </div>
    </body>
</html>