<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
    <div class="menu-bar">
        <ul>
            <li id="name"><a href="#">HobbyBoksen</a></li>
            <li><a href="/">Forside</a></li>
            <li><a href="{{ url_for('products') }}">Produkter</a></li>
            <li><a href="{{url_for('about')}}">Om os</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </div>

   
    <img id="front" src="{{ url_for('static',filename='placeholder.jpg') }}" style="margin: 0; padding: 0;" alt="">

    <div class="toproducts">
        <h2>Gå til Produkter</h2>
        <a href="{{ url_for('products') }}" class="button">Produkter</a>
    </div>

    </body>
</html>