<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
    <div class="menu-bar">
        <ul>
            <li id="name"><a href="#">HobbyBoksen</a></li>
            <li><a href="/">Forside</a></li>
            <li><a href="{{ url_for('products') }}">Produkter</a></li>
            <li><a href="#">Om os</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </div>

    <div class="prodiv">
    {%for prod in prods%}    

        <div class="product">
            <img  src="{{ url_for('static',filename=prod.image) }}" alt="Billede kommer snart">
            <h3>{{ prod.name }}</h3>
            <p>{{ prod.price }} kr</p>
            <p>{{ prod.description }}</p>
            
            <a href="{{ url_for('show_product', id=prod.name) }}" class="button">Se mere</a>

            
        </div>
    {% endfor %}
    </div>
    </body>
</html>